table.filterview {
	margin-bottom: 10px;
	font-size: 1em;
	font-family: Verdana;
	width: 90%;
}

table.dataview {
	margin-bottom: 10px;
	border-bottom: 1px solid #ff7f00;
	font-size: 1em;
	font-family: Verdana;
	box-shadow: 10px 10px 5px #888888;
	width: 90%;
}

table.dataview caption {
	text-align: left;
}

table.dataview tr {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

table.dataview tr:nth-child(even) {
	background-color: #ffd9b3;
}

table.dataview tr:nth-child(odd) {
	background-color: #ffffff;
}

table.dataview tr td {
	padding-left: 0.3em;
	padding-right: 1em;
	padding: 0.3em;
}

table.dataview tr th {
	background: -o-linear-gradient(bottom, #ff7f00 5%, #db6e00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7f00
		), color-stop(1, #db6e00));
	background: -moz-linear-gradient(center top, #ff7f00 5%, #eb7500 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00",
		endColorstr="#db6e00");
	background: -o-linear-gradient(top, #ff7f00, #db6e00);
	background-color: #ff7f00;
}

table.dataview tr th {
	background-position: right;
	background-repeat: no-repeat;
	padding: 0.5em;
	color: #ffe3c7;
}

table.dataview tr th.wicket_orderDown {
	background-color: #87cbff;
	background-image: url(../images/arrow_down.png);
}

table.dataview tr th.wicket_orderUp {
	background-color: #87cbff;
	background-image: url(../images/arrow_up.png);
}

table.dataview tr th.wicket_orderNone {
	background-image: url(../images/arrow_off.png);
}

table.dataview tr th a {
	font-weight: normal;
}

table.dataview #message {
	padding-left: 3px;
}

table.dataview caption {
	padding-bottom: 2px;
}

table.dataview tr:hover {
	background-color: #ffb870;
}
