html {
  font-family: Verdana;
}

body {
  min-width: 1150px;
  background-color: #F7F7F7;
  color: #222222;
  font-size: 12pt;
}

input:focus, textarea:focus, input:active, textarea:active {
  outline: none;
}

.clear {
  clear: both;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important;
  border: none !important;
  display: block !important;
}

.wrapper {
  width: 1100px;
  margin: 0 auto !important;
  padding: 0 25px;
  float: none !important;
}

header {
  background-color: #ec9700;
}

ol, ul {
  list-style: none;
}

#main-menu {
  padding: 25px 0;
}
#main-menu #logo {
  float: left;
  display: block;
}
#main-menu #logo img {
  width: 100px;
}
#main-menu ul {
  float: left;
  margin-left: 100px;
}
#main-menu ul li {
  display: inline-block;
  margin: 40px 20px 0 0;
}
#main-menu ul li a {
  font-size: 15pt;
  text-decoration: none;
  color: #ffdfa5;
}
#main-menu ul li a:hover {
  text-decoration: underline;
}
#main-menu ul li.current a {
  color: #FFFFFF;
}
#main-menu ul li.current#home-logo a {
  background-position: 0 0;
}
#main-menu ul li#home-logo {
  display: block;
  float: left;
  margin: 28px 60px 0 0;
}
#main-menu ul li#home-logo a {
  background-image: url("../images/icon_home.png");
  height: 36px;
  width: 35px;
  display: block;
  background-size: cover;
  background-position: 0 36px;
}

footer.base {
  height: 22px;
  padding: 18px 0;
  background-color: #ec9700;
  font-size: 12pt;
}

div.footer {
  color: #222222;
  display: block;
  margin: 0 auto;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 0.7;
  width: 200px;
  margin-top: 5px;
}

div.inline-list-item {
	border-top-style: dotted;
	border-top-width: 1px;
}

div.inline-list-item:hover {
	background-color: white;
}

.inline-list-item h3{
	margin-top: 0.5em;
	margin-bottom: 0.1em;
}

.inputForm-label {
  display: block;
  margin-top: 5px;
}
.inputForm-text {
	font-size: 15pt;
}
.numbers{
	text-align: right;
}

div.inputForm-buttons {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.item-menu {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.nav-menu {
	margin-bottom: 1em;
}

.feedbackPanelERROR {
	background-color: red;
	color: yellow;
}

.feedbackPanelERROR {
	background-color: red;
	color: yellow;
}

.feedbackPanelINFO {
	background-color: green;
	color: white;
}

.feedbackPanelWARNING {
	background-color: yellow;
	color: black;
}

div.table-row {
	display: table-row;
}

div.table-cell {
	display: table-cell;
	padding-right: 1em;
}

div.table-cell.title-cell{
	text-align: right;
}

div.yandexMap {
	display: inline-block;
}

span.login-username {
	color: #FFFFFF;
	opacity: 0.6;
}

div.online, div.offline {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

div.online {
	background-image: url("../images/online.png");
}

div.offline {
	background-image: url("../images/offline.png");
}
